<!-- app/views/users/_prototype.html.erb -->
<li>
  <%= link_to prototype.title, prototype_path(prototype) %>
  <% if user_signed_in? && prototype.user == current_user %>
    <%= link_to '編集', edit_prototype_path(prototype), class: 'btn btn-primary' %>
    <%= form_with(model: prototype, method: :delete, local: true) do %>
      <%= submit_tag '削除', data: { confirm: '本当に削除しますか？' }, class: 'btn btn-danger' %>
    <% end %>
  <% end %>
</li>
